.footer{
    height: 3rem;
    margin-top: -3rem;
    width:100%;
    bottom: 0;
    text-align: center;
    padding: 1rem;
    background-color: #0055A3;
   color: white;
}
.footer_text{
    padding: 1rem;
    background-color: #0055A3;
    color: white;
}
