<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html>
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tests Default</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../../assets/css/style.css">
</head>

<body>
    <div class="wrapper">
    <header class="header">
        <div class="header_logo"></div>
    </header>
    <aside id="sidebar" class="sidebar">
        <div class="profile">
            <div class="profile_image"></div>
            <div class="profile_name">NAME</div>

            <a href="" class="button button--primary">Logout</a>

        </div>
        <nav>
            <ul class="menu">
                <li>
                    <a href="">Tests</a>
                    <ul class="menu_submenu">
                        <li>
                            <a href="">Available Tests</a>
                        </li>
                        <li>
                            <a href="">Previous Tests</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="">Reports</a>
                </li>
                <li>
                    <a href="">Settings</a>
                    <ul class="menu_submenu">
                        <li>
                            <a href="">Account</a>
                        </li>
                        <li>
                            <a href="">Profile</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </aside>
    <section class="content">
        <p class="content_header">Available Tests</p>
        <div class="content__container">
           <table class="table">
                <thead class="table__head">
                    <tr class="table__rowheader">
                        <td class="table__header">Test Name</td>
                        <td class="table__header">Number of Questions</td>
                        <td class="table__header">Duration(min)</td>
                    </tr>
                </thead>
                <tbody class="table__body">
                    <tr class="table__row">
                        <td class="table__data"><a href="#" class="table__anchor">Test 3</a></td>
                        <td class="table__data">15</td>
                        <td class="table__data">20</td>
                    </tr>
                    <tr class="table__row">
                        <td class="table__data"><a href="#" class="table__anchor">Test 4</a></td>
                        <td class="table__data">10</td>
                        <td class="table__data">10</td>
                    </tr>
                </tbody>
            </table>
        </div><br>

            <p class="content_header">Previous Tests</p>
        <div class="content__container">
            <table class="table">
                <thead class="table__head">
                    <tr class="table__rowheader">
                        <td class="table__header">Test Name</td>
                        <td class="table__header">Score</td>
                        <td class="table__header">Amount Correct</td>
                        <td class="table__header">Number of Questions</td>
                        <td class="table__header">Time Taken</td>
                    </tr>
                </thead>
                <tbody class="table__body">
                    <tr class="table__row">
                        <td class="table__data"><a href="#" class="table__anchor">Test 1</a></td>
                        <td class="table__data">100%</td>
                        <td class="table__data">15</td>
                        <td class="table__data">15</td>
                        <td class="table__data">13:45</td>
                    </tr>
                    <tr class="table__row">
                        <td class="table__data"><a href="#" class="table__anchor">Test 2</a></td>
                        <td class="table__data">80%</td>
                        <td class="table__data">8</td>
                        <td class="table__data">10</td>
                        <td class="table__data">9:30</td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
    </section>
</div>
    <footer class="footer">
        <div class="footer_text">
            <p>Yash Technoloies &copy;</p>
        </div>
    </footer>
<script src="main.js"></script>
</body>

</html>