.Forgot-Password__Container{
	text-align: center;
	padding: 8% 25% 12.5% 25%;
	
}

.Email-Form__Container{
    padding: 10% 0% 10% 0%;
    font-size: 15px;
}

.EmailNotFound_Warning{
	color: red;
}

#Forgot-Password__Submit-Button{
	position: relative;
	top: 40px; 
	left: 13%;
	
}

.Container_Padding{
	padding: 10% 0% 10%  0%;
}

#Submit__Hover-Effect:hover{
	cursor: pointer;
}

.title_size{
	 font-size: 25px;
	
}
.exception_format{
	 font-size: 100%;
}

