.Reset-Password__Container{
	text-align: center;
	padding: 4% 25% 8% 25%;
}

.Password-Form__Container{
    padding: 10% 0% 10% 0%;

}

#Reset-Password__Submit-Button{
	position: relative;
	top: 40px; 
	left: 13%;
	
}

.Reset-Container_Padding{
	padding: 10% 0% 10%  0%;
}

#Reset-Submit__Hover-Effect:hover{
	cursor: pointer;
}

.body {
	height: 100%;
}


.content {
	width: 75%;
	margin: 0 auto;
	font-family: 'Raleway', sans-serif;
	font-size: 62.5%;
}

.Notmatch_warning{
	color: red;
}