<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html>
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../assets/css/style.css">
</head>

<body>
<div class="wrapper">
    <div id="header"></div>
    <div id="sidebar"></div>
    <section class="content">
        <h1 class="content_header"></h1>
        <div class="content_container">
            <!-- ALL OTHER CONTENT HERE -->
        </div>
</section>
</div>
<div id="footer"></div>
<script src="../assets/js/jquery.js"></script>

<script src="../assets/js/main.js"></script>

<script>
    $(function () {
        $('#header').load("./common/header.html");
        $('#sidebar').load("./common/trainer-sidebar.html");
        $("#footer").load("./common/footer.html");
    });
</script>
</body>
</html>